<!DOCTYPE html>
<html>
<head>
  <title>AuctionSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1>Auction home</h1>
		<ul>
			<li><%= link_to('Home', root_path()) %></li>
			<li><%= link_to('Auctions', items_path()) %></li>
		</ul>
	</header>

<%= yield %>

</body>
</html>
